<div>

  <h1>SUP BRO</h1>

  <div ng-if='admin'>
  <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">

    <select name="carlist" form="uploadForm">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
    <input type="text" value="title" name="title">
    <input type="file" name="userPhoto" multiple />
    <input type="submit" value="Upload Image" name="submit" />
</form>
</div>

</br><span id="status"></span>
</div>
