<div>
  <!-- <div style='margin: 100px; width: 300px;' ng-if='admin'> -->
      <div style='margin: 100px; width: 300px;'>
  <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">

    <select name="listing_type" form="uploadForm">
      <option value="presale">Pre-sale</option>
      <option value="rfo">Ready for Occupancy</option>
      <option value="rental">Rental</option>
    </select>

    <select name="developer" form="uploadForm">
      <option value="Megaworld">Megaworld</option>
      <option value="Alveo">Alveo</option>
      <option value="AyalaPremiere">Ayala Premiere</option>
      <option value="Century">Century Properties</option>
    </select>

    <select name="project_type" form="uploadForm">
      <option value="Condominium">Condominium</option>
      <option value="Apartment">Apartment</option>
      <option value="Lot">Lot</option>
      <option value="House">House</option>
    </select>

    <p style='margin: 1em 0 0.5em 0'>Title: </p><input type="text" name="title">
    <p style='margin: 1em 0 0.5em 0'>Lowest Price: </p><input type="text" name="price">
    <p style='margin: 1em 0 0.5em 0'>Address: </p><input type="text" name="address">
    <p style='margin: 1em 0 0.5em 0'>Location (city & area): </p><input type="text" name="location">
    <input type="file" name="userPhoto" multiple />
    <input type="submit" value="Upload Image" name="submit" />
  </form>
</div>
  </br><span id="status"></span>
</div>
