.black {
    background: rgb(40, 40, 40) !important;
}

.search {
  width: 100%;
  height: 100px;
  background: #35979f;
}

input[name=location],
input[name=min-price],
select[name=type]
 {
  background: white;
  height: 30px;
  display: inline-block;
}
